APP_PORT=4000
APP_HOST=0.0.0.0
APP_NAME=FunMap API
APP_ENV=development
API_PREFIX=api/v1
ADMIN_REGISTRATION_SECRET=MasterAdminSecret
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=funmap
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SYNCHRONIZE=true
REDIS_HOST=localhost
REDIS_PORT=6379
PAYCHANGU_BASE_URL=https://api.paychangu.com
PAYCHANGU_SECRET_KEY=change-me
PAYCHANGU_WEBHOOK_SECRET=change-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@<your_cloud_name>
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=

